/org_jvoicexml_jsapi2_sapi_logging_Log4CPlus2JavaLoggingAdapter.h
/org_jvoicexml_jsapi2_sapi_recognition_SapiRecognitionThread.h
/org_jvoicexml_jsapi2_sapi_recognition_SapiRecognizer.h
/org_jvoicexml_jsapi2_sapi_SapiEngineListFactory.h
/org_jvoicexml_jsapi2_sapi_synthesis_SapiSynthesizer.h
